# Battery data explotation

Data source: [Battery Remaining Useful Life (RUL)](https://www.kaggle.com/datasets/ignaciovinuales/battery-remaining-useful-life-rul)

##### Importing Libraries ...

In [3]:
# general
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()

# mpl
import matplotlib as mpl
import matplotlib.pyplot as plt

# plotly
import plotly.express as px
import plotly.io as pio
import plotly.figure_factory as ff
pio.renderers.default = 'iframe'

# stats
from scipy import stats
#from lmfit.models import GaussianModel

### Data Exploration

In [46]:
# import data
bat_path = './data/Battery_RUL.csv'
bat_data = pd.read_csv(bat_path)

In [48]:
bat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15064 entries, 0 to 15063
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Cycle_Index                15064 non-null  float64
 1   Discharge Time (s)         15064 non-null  float64
 2   Decrement 3.6-3.4V (s)     15064 non-null  float64
 3   Max. Voltage Dischar. (V)  15064 non-null  float64
 4   Min. Voltage Charg. (V)    15064 non-null  float64
 5   Time at 4.15V (s)          15064 non-null  float64
 6   Time constant current (s)  15064 non-null  float64
 7   Charging time (s)          15064 non-null  float64
 8   RUL                        15064 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.0 MB

In [49]:
pd.concat([bat_data.head(3),bat_data.tail(3)])

,Cycle_Index,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time at 4.15V (s),Time constant current (s),Charging time (s),RUL
0,1.0,2595.30,1151.488500,3.670,3.211,5460.001,6755.01,10777.82,1112
1,2.0,7408.64,1172.512500,4.246,3.220,5508.992,6762.02,10500.35,1111
2,3.0,7393.76,1112.992000,4.249,3.224,5508.993,6762.02,10420.38,1110
15061,1110.0,769.12,179.357143,3.773,3.742,915.513,1412.31,6637.12,2
15062,1111.0,773.88,162.374667,3.763,3.839,539.375,1148.00,7660.62,1
15063,1112.0,677537.27,142740.640000,4.206,3.305,49680.004,599830.14,599830.14,0

I notice there are more cycles than rows. I'll look into this by making a histogram

,Cycle_Index,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time at 4.15V (s),Time constant current (s),Charging time (s),RUL
8,10.0,5945.44,1216.920914,4.014,3.501,5009.993667,5954.91,5954.91,1103
1084,10.0,6007.93,1209.319356,4.024,3.495,5009.994667,5940.23,5940.23,1098
2163,10.0,6069.12,1006.161991,4.047,3.478,5088.453462,6006.72,6006.72,1098
3240,10.0,6086.82,994.002489,4.051,3.477,5091.419429,6005.50,6005.50,1098
4321,10.0,6029.98,1070.001778,4.044,3.483,5052.855000,5940.00,5940.00,1124
5398,10.0,6029.44,1061.382414,4.047,3.481,5123.058462,6029.98,6029.98,1093
6476,10.0,6051.91,1041.657481,4.048,3.476,5129.985000,6053.76,6053.76,1098
7557,10.0,6029.99,1033.540645,4.047,3.478,5123.059385,6029.98,6029.98,1095
8637,10.0,6060.22,1026.553000,4.046,3.477,5109.219231,6028.80,6028.80,1098
9716,10.0,6029.98,1052.679375,4.045,3.481,5102.293846,5940.00,5940.00,1098
10795,10.0,5980.35,1168.343056,4.019,3.500,5015.450455,5940.00,5940.00,1098
11872,10.0,5940.00,1075.567291,4.035,3.489,5060.765538,5989.47,5989.47,1098
12949,10.0,6023.56,1063.931250,4.043,3.480,5091.419429,6015.97,6015.97,1104
14021,10.0,5920.38,1020.846629,4.048,3.502,4943.587357,5875.20,5875.20,1102

In [58]:
# cycle index histo
fig = px.histogram(bat_data, x='Cycle_Index',nbins=1000)
fig.show()

Let's look at only lines for cycle 1

In [42]:
bat_data.loc[ bat_data.Cycle_Index == 1 ]

,Cycle_Index,Discharge Time (s),Decrement 3.6-3.4V (s),Max. Voltage Dischar. (V),Min. Voltage Charg. (V),Time at 4.15V (s),Time constant current (s),Charging time (s),RUL
0,1.0,2595.30,1151.4885,3.670,3.211,5460.001,6755.01,10777.82,1112
1076,1.0,2604.00,1186.4955,3.666,3.213,5424.991,6706.02,10772.99,1107
2155,1.0,2562.02,1140.9910,3.666,3.219,5452.993,6740.99,10836.00,1107
3232,1.0,2566.08,1161.9830,3.667,3.214,5452.992,6740.99,10938.33,1107
4313,1.0,2590.02,1239.0070,3.660,3.225,5376.000,6678.01,10821.98,1133
5390,1.0,2609.47,1372.0000,3.650,3.228,5348.000,6678.02,11078.56,1102
6468,1.0,2590.98,1154.9760,3.667,3.224,5452.992,6727.01,10819.42,1107
7549,1.0,2590.50,1169.0240,3.667,3.206,5446.016,6734.02,10759.26,1104
8629,1.0,2565.31,1186.4965,3.664,3.221,5439.007,6740.99,10999.07,1107
9708,1.0,2587.94,1231.9990,3.661,3.223,5383.009,6678.02,10856.83,1107
10787,1.0,2576.00,1197.0240,3.663,3.223,5418.016,6712.99,10815.74,1107
11864,1.0,2652.99,1364.9910,3.652,3.233,5340.993,6664.00,11018.02,1107
12941,1.0,2590.02,1274.0160,3.657,3.230,5355.008,6664.00,10864.00,1113
14013,1.0,2590.02,1189.9840,3.664,3.226,5404.001,6706.02,10909.09,1111